<img id="banner" src="../../../../assets/img/bannerCategoria/joyeria.png" alt="">

<h1 id="titulo">Encunetra algo que te enamore</h1>
<hr>
<body style="margin-top: 20px; ">
  <div class="container__principal">
      <div class="row" style="justify-content: center;">
          <div class="card"  *ngFor="let joyeria of joyerias">
              <img class="card-img-top" style="max-height: 200px; margin-right: 100px;" [src]="joyeria.imagenProducto == '' ? '../../../assets/img/noImagen.png':joyeria.imagenProducto">
              <div class="card-body">
                  <h2 class="card-title">{{joyeria.nombreProducto == '' ? 'Nombre del producto': joyeria.nombreProducto}}.</h2>
                  <p class="card-text">{{joyeria.descripcion == '' ? 'Descripción del producto': joyeria.descripcion}}</p>
                  <p>Precio: {{joyeria.precio == 0 ? '0': joyeria.precio}}$</p>
                  <a href="#" class="btn btn-secondary" style="margin-right: 100px; background-color: #ff3f3b; font-weight: bold; color: white; border: none;">Comprar</a>
              </div>
          </div>
      </div>
  </div>
</body>