<div class="container-fluid">
    <ngb-carousel  >
      <ng-template ngbSlide>
        <div class="banner">
          <img src="../../../assets/img/bannerOferta/of.png" alt="Random first slide">
        </div>
      </ng-template>

      <ng-template ngbSlide>
        <div class="banner">
          <img src="../../../assets/img/bannerOferta/of3.png" alt="Random second slide">
        </div>
      </ng-template>

      <ng-template ngbSlide>
        <div class="banner">
          <img src="../../../assets/img/bannerOferta/of2.png"  alt="Random third slide">
        </div>
      </ng-template>

      <ng-template ngbSlide>
        <div class="banner">
          <img src="../../../assets/img/bannerOferta/of1.png" alt="Random first slide">
        </div>
      </ng-template>
    </ngb-carousel>
</div>

<h1 id="titulo">Encuentra algo que te enamore</h1>

<body style="margin-top: 20px; ">
  <div class="container__principal">
      <div class="row" style="justify-content: center;">
          <div class="card"  *ngFor="let oferta of ofertas">
              <img class="card-img-top" style="max-height: 200px; margin-right: 100px;" [src]="oferta.imagenProducto == '' ? '../../../assets/img/noImagen.png':oferta.imagenProducto">
              <div class="card-body">
                  <h2 class="card-title">{{oferta.nombreProducto == '' ? 'Nombre del producto': oferta.nombreProducto}}.</h2>
                  <p class="card-text">{{oferta.descripcion == '' ? 'Descripción del producto': oferta.descripcion}}</p>
                  <p>Precio: {{oferta.precio == 0 ? '0': oferta.precio}}$</p>
                  <a href="#" class="btn btn-secondary" style="margin-right: 100px; background-color: #ff3f3b; font-weight: bold; color: white; border: none;">Comprar</a>
              </div>
          </div>
      </div>
  </div>
</body>