footer{
    width: 100%;
    padding: 50px 0px;
    background-size: cover;
    margin-top: -100px;
}

.container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
}

.box__footer{
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-family:'Lato', sans-serif;
}

.box__footer .logo img{
    width: 100px;
}

.box__footer .terms{
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #7a7a7a;
    font-size: 18px;
    font-family:'Lato', sans-serif;
}

.box__footer h2{
    margin-top: 20px;
    color: #343434;
    font-weight: bold;
    font-family:'Lato', sans-serif;
}

.box__footer a{
    margin-bottom: 10px;
    color: #7a7a7a;
    font-weight: 600;
    text-decoration: none;
}

.box__footer a:hover{
    opacity: 0.8;
}

.box__footer a .fab{
    font-size: 20px;
}

.box__footer .btn
{
    margin-top: 20px;
    margin-right: 50px;
    background-color: #ff3f3b;
    font-weight: bold; 
    color: white; 
    border: none; 
    font-family:'Lato', sans-serif;
    font-size: 18px;
}



.box__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box__copyright p{
    margin-top: 20px;
    color: #7a7a7a;
}

.box__copyright hr{
    border: none;
    height: 1px;
    background-color: #7a7a7a;
}