<footer>
    <div class="container__footer" style="background-color: #caebf2;">
         <div class="box__footer">
            <div class="logo" style="margin-left: 120px;">
                <img src="../../../assets/img/proteger.png" alt="">
            </div>
            <div class="terms">
                <p style="text-align: center;">Tu privacidad es la principal prioridad de nuestro equipo dedicado. Lo tenemos todo dispuesto para entrar en acción si necesitas ayuda.</p>
            </div>
        </div>

        <div class="box__footer">
            <h2 style="color: #7a7a7a;">Compra</h2>
            <a [routerLink]="['/escultura']" routerLinkActive="router-link-active">Escultura</a>
            <a [routerLink]="['/joyeria']" routerLinkActive="router-link-active">Joyería</a>
            <a [routerLink]="['/pintura']" routerLinkActive="router-link-active">Pintura</a>
            <a [routerLink]="['/tejido']" routerLinkActive="router-link-active">Tejido</a>
        </div>
    
        <div class="box__footer">
            <h2  style="color: #7a7a7a;">Contactanos</h2>
            <a href="#">Contacto</a> 
            <a href="#">Dejanos tu mensaje</a>            
        </div>

        <div class="box__footer">
            <h2  style="color: #7a7a7a;">Mi cuenta</h2>
            <a [routerLink]="['/vender']" routerLinkActive="router-link-active">Vender</a>
            <a href="#">Registrarme</a>         
        </div>
    
        <div class="box__footer">
            <h2 style="color: #7a7a7a; margin-right: 65px;">Redes Sociales</h2>
            <div class="row">
                <div class="col-3">
                    <a href="https://www.facebook.com/">
                    <img src="../../../assets/img/redesSociales/facebook.png" alt="">
                    </a>
                </div>

                <div class="col-3">
                    <a href="https://www.instagram.com/">
                        <img src="../../../assets/img/redesSociales/instagram.png" alt="" style="margin-left: 9px;">
                     </a>
                </div>

                <div class="col-3">
                    <a href="https://twitter.com/?lang=es">
                        <img src="../../../assets/img/redesSociales/gorjeo.png" alt="" style="margin-left: 10px;">
                    </a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="box__copyright" style="background-color: #a9a9a9;">
        <hr>
        <p> © 2023 +Art</p>
        <hr>
    </div>
</footer>

    
    