<table class="table table-primary table-striped mt-4">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Unidades</th>
      <th>Precio Unitario</th>
      <th>Total</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let compra of comprar, let i = index">
      <td>{{compra.nombreProducto}}</td>
      <td>{{compra.unidades}}</td>
      <td>{{compra.precio | currency:'COP'}}</td>
      <td>{{compra.total | currency:'COP'}}</td>
      <td><button class="btn btn-outline-primary btn1 btn-md" 
        (click)="eliminarProducto(compra.idCompra)"
        style="background-color: #ff3f3b; font-weight: bold; color: white; border: none; font-family:'Lato', sans-serif;"><img src="../../../assets/img/iconos/trash.png"></button></td>
      <td><button class="btn btn-outline-primary btn1 btn-md" 
        style="background-color: #ff3f3b; font-weight: bold; color: white; border: none; font-family:'Lato', sans-serif;"
        (click)="adquirir(i)">Comprar</button></td>
    </tr>
  </tbody>
</table>

<!-- <p class="text-end">Total {{compra.total | currency:'COP'}}</p> -->
