<h3>Carrito de Compras</h3>
<table class="table table-primary table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Unidades</th>
      <th>Precio Unitario</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let compra of comprar">
    <tr>
      <td>{{compra.nombreProducto}}</td>
      <td>{{compra.unidades}}</td>
      <td>{{compra.precio | currency:'COP'}}</td>
      <td>{{compra.total | currency:'COP'}}</td>

    </tr>
    </ng-container>
  </tbody>
</table>

<!-- <p class="text-end">Total {{compra.total | currency:'COP'}}</p> -->
<div class="text-end">
    <button >Comprar</button>
</div>