<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
  
      <a class="nav-link" [routerLink]="['inicio']">+Art</a>

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      
          <div style="text-align: left; ">
            <button mat-flat-button [mat-menu-trigger-for]="menu" id="categorias" style="background-color: white;">Categorias</button>
  
            <mat-menu #menu="matMenu">
              <button mat-menu-item [routerLink]="['escultura']">Escultura</button>
              <button mat-menu-item [routerLink]="['joyeria']">Joyeria</button>
              <button mat-menu-item [routerLink]="['pintura']">Pintura</button>
              <button mat-menu-item [routerLink]="['tejido']">Tejido</button>
            </mat-menu>
  
          </div>
  
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['ofertas']">Ofertas</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['vender']">Vender</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" [routerLink]="['contacto']">Contacto</a>
          </li>
   
        </ul>
  
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
  
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['administrador']">Administrador</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" [routerLink]="['comprar']">Carrito</a>
            </li>
  
            <div style="text-align: left; ">
              <button mat-flat-button [mat-menu-trigger-for]="menu1" id="categorias" style="background-color: white;">Mi cuenta</button>
    
              <mat-menu #menu1="matMenu">
                <button mat-menu-item [routerLink]="['iniciar-sesion']">Iniciar sesion</button>
                <button mat-menu-item [routerLink]="['registro']">Registrarme</button>
                <button mat-menu-item (click)="cerrarSesion()">Cerrar Sesion</button>
              </mat-menu>
    
            </div>
          </ul>
        </form>
      </div>
  </nav>
