<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
  
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      
          <div style="text-align: left; ">
            <button mat-flat-button [mat-menu-trigger-for]="menu" id="categorias" style="background-color: white;">Categorias</button>
  
            <mat-menu #menu="matMenu">
              <button mat-menu-item [routerLink]="['escultura']">Escultura</button>
              <button mat-menu-item [routerLink]="['joyeria']">Joyeria</button>
              <button mat-menu-item [routerLink]="['pintura']">Pintura</button>
              <button mat-menu-item [routerLink]="['tejido']">Tejido</button>
            </mat-menu>
  
          </div>
  
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['ofertas']">Ofertas</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['vender']">Vender</a>
          </li>
   
        </ul>
  
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
  
        </form>
  
      </div>
    </div>
  </nav>
